<a href="https://colab.research.google.com/github/HHansi/Applied-AI-Course/blob/main/NLP/Text_Feature_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Text Feature Extraction</h1>

<h2>Bag-of-Words(BoW) Model</h2>

We cannot directly work with text when using machine learning algorithms. Text need to be converted into numbers.

Bag-of-words model(BoW) is a simple and effective way to convert text features into numeric features, to use with machine learning models.

Import required libraries

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd

Let's define some sample texts to use with following examples. <br>
Here I picked some food reviews

In [2]:
text_documents = ["good quality food",
                  "not as advertised",
                  "great taffy"]

The simplest BoW model using CountVectorizer.

In [3]:
count_vectorizer = CountVectorizer()
# tokenize and build vocabulary
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'as', 'food', 'good', 'great', 'not', 'quality', 'taffy']
Result matrix size: (3, 8)
Result matrix:
 [[0 0 1 1 0 0 1 0]
 [1 1 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1]]

   advertised  as  food  good  great  not  quality  taffy
0           0   0     1     1      0    0        1      0
1           1   1     0     0      0    1        0      0
2           0   0     0     0      1    0        0      1

<b> <u>Understanding CountVectoizer arguments</u> </b>
- lowercase (boolean, default=True) - If True, convert all characters to lowercase before tokenizing.
- token_pattern (string,default=r"(?u)\b\w\w+\b") - Regular expression denoting what constitutes a “token”. The default regexp select tokens of 2 or more alphanumeric characters (punctuation is completely ignored and always treated as a token separator).
-  stop_words (list, default=None) - If a list, that list is assumed to contain stop words, all of which will be removed from the resulting tokens.
- ngram_range (tuple, default=(1, 1)) - The lower and upper boundary of the range of n-values for different word n-grams.

Please refer the [CountVectoizer document](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) for more details.

<b>Defining stop words to be removed</b> <br>
Let's use the stop words list available with NLTK.

In [5]:
# download the module 'stopwords'
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

stopwords = set(stopwords.words('english')) 
print(stop_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
{'who', 'whom', 'what', 'too', 'i', 'y', 'them', 'few', 'on', 'such', 'here', 'own', 'didn', 'being', 'weren', "didn't", 'there', 'and', 'is', 'in', "won't", 'yourselves', 'their', 'between', 'to', 'am', "it's", 'been', 'be', 'yours', 'before', 'than', 'doing', "aren't", 'himself', 'herself', 'through', 'was', 'not', 'its', 'until', "you've", 'at', 'did', 'for', 'isn', 'ours', "couldn't", 'above', 'below', 'wouldn', 'his', 'shan', 'yourself', 'when', 'you', 'him', 'most', "should've", "mustn't", 'we', 'from', 'she', 've', 'all', 'why', 'haven', 'more', 'about', 'they', 'were', 'will', 'or', 'out', 'then', 'ain', 'so', 'needn', "wouldn't", 'her', 'if', "shouldn't", 'just', 'both', "weren't", 'some', 'your', "shan't", "you're", 'had', 'up', 'o', 'aren', 'while', "you'd", 'after', 'which', 'don', 'it', "haven't", 'other', 'a', 'down', 'should', 'once', "hadn't", 'theirs', "isn't", 'has', 'this', "doesn't", "mightn't", "needn't", 'mustn', 'hers', 'itself', 'mightn', 'off', 'only', 'shouldn', 'over', "wasn't", 'can', 'won', 'doesn', "hasn't", 'hadn', "she's", 'does', 'have', 're', 'my', 'very', 'themselves', 'into', 'during', 'again', 'd', 'm', 'against', "that'll", 'but', 'same', 'our', 'ma', 'do', 'myself', 'where', 'of', 't', 'ourselves', 'an', 'now', 'each', 'under', 'wasn', 'these', 'having', 's', 'with', 'how', 'nor', 'll', "you'll", 'the', 'any', 'me', 'no', 'hasn', 'because', 'as', 'couldn', 'further', 'are', 'he', "don't", 'by', 'that', 'those'}

In [6]:
count_vectorizer = CountVectorizer(stop_words=stopwords)
# tokenize and build vocabulary
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'great', 'quality', 'taffy']
Result matrix size: (3, 6)
Result matrix:
 [[0 1 1 0 1 0]
 [1 0 0 0 0 0]
 [0 0 0 1 0 1]]

   advertised  food  good  great  quality  taffy
0           0     1     1      0        1      0
1           1     0     0      0        0      0
2           0     0     0      1        0      1

In [7]:
stopwords_new = ['as', 'few', 'on', 'such', 'here']

count_vectorizer = CountVectorizer(stop_words=stopwords_new)
# tokenize and build vocabulary
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'great', 'not', 'quality', 'taffy']
Result matrix size: (3, 7)
Result matrix:
 [[0 1 1 0 0 1 0]
 [1 0 0 0 1 0 0]
 [0 0 0 1 0 0 1]]

   advertised  food  good  great  not  quality  taffy
0           0     1     1      0    0        1      0
1           1     0     0      0    1        0      0
2           0     0     0      1    0        0      1

<b>Use different n-grams</b> <br>
Examples - Defining lower and upper boundary
- (1, 1) - 1-grams
- (1, 2) - 1-grams and 2-grams
- (2, 2) - 2-grams

In [11]:
count_vectorizer = CountVectorizer(ngram_range=(1,2))
# tokenize and build vocabulary
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'as', 'as advertised', 'food', 'good', 'good quality', 'great', 'great taffy', 'not', 'not as', 'quality', 'quality food', 'taffy']
Result matrix size: (3, 13)
Result matrix:
 [[0 0 0 1 1 1 0 0 0 0 1 1 0]
 [1 1 1 0 0 0 0 0 1 1 0 0 0]
 [0 0 0 0 0 0 1 1 0 0 0 0 1]]

   advertised  as  as advertised  food  ...  not as  quality  quality food  taffy
0           0   0              0     1  ...       0        1             1      0
1           1   1              1     0  ...       1        0             0      0
2           0   0              0     0  ...       0        0             0      1

[3 rows x 13 columns]

In [12]:
count_vectorizer = CountVectorizer(ngram_range=(1,2), stop_words=stopwords_new)
# tokenize and build vocabulary
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'good quality', 'great', 'great taffy', 'not', 'not advertised', 'quality', 'quality food', 'taffy']
Result matrix size: (3, 11)
Result matrix:
 [[0 1 1 1 0 0 0 0 1 1 0]
 [1 0 0 0 0 0 1 1 0 0 0]
 [0 0 0 0 1 1 0 0 0 0 1]]

   advertised  food  good  ...  quality  quality food  taffy
0           0     1     1  ...        1             1      0
1           1     0     0  ...        0             0      0
2           0     0     0  ...        0             0      1

[3 rows x 11 columns]

<b>Exercise 1.</b><br>
<b>a.</b> Generate a BoW model using <i>train_text_documents</i> given below. Convert 
all tokens to lowercase, remove stop words and use both 1-grams and 2-grams to build the model.  
<b>b.</b> Using the built model, convert <i>test_text_documents</i> into numeric vectors.

In [ ]:
train_text_documents = ["The quick brown fox jumped over the lazy dog.",
                        "The cat played with the dog."]

test_text_documents = ["The dog saw the donkey."]

# create an instance of the CountVectorizer


# tokenize and build vocabulary using train_text_documents


# convert test_text_documents to numeric vectors


# print output vectors

In [14]:
train_text_documents = ["The quick brown fox jumped over the lazy dog.",
                        "The cat played with the dog."]

test_text_documents = ["The dog saw the donkey."]

# create an instance of the CountVectorizer
count_vectorizer = CountVectorizer(stop_words=stopwords, ngram_range=(1,2))

# tokenize and build vocabulary using train_text_documents
count_vectorizer.fit(train_text_documents)

# convert test_text_documents to numeric vectors
matrix = count_vectorizer.transform(test_text_documents)

# print output vectors
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Result matrix size: (1, 15)
Result matrix:
 [[0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]]

   brown  brown fox  cat  cat played  ...  played  played dog  quick  quick brown
0      0          0    0           0  ...       0           0      0            0

[1 rows x 15 columns]

<b>Token weighting with TfidfVectorizer</b>

Let's define more detailed sample texts to use with following examples. <br>

In [15]:
text_documents = ["the quality of food is very good",
                  "the best hot sauce in the world",
                  "this is the best instant oatmeal"]

<b> <u>Understanding TfidfVectoizer arguments</u> </b>
- lowercase (boolean, default=True) - If True, convert all characters to lowercase before tokenizing.
- token_pattern (string,default=r"(?u)\b\w\w+\b") - Regular expression denoting what constitutes a “token”. The default regexp select tokens of 2 or more alphanumeric characters (punctuation is completely ignored and always treated as a token separator).
-  stop_words (list, default=None) - If a list, that list is assumed to contain stop words, all of which will be removed from the resulting tokens.
- ngram_range (tuple, default=(1, 1)) - The lower and upper boundary of the range of n-values for different word n-grams.

Please refer the [TfidfVectoizer document](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html?highlight=tfidfvectorizer#sklearn.feature_extraction.text.TfidfVectorizer) for more details.

In [16]:
tfidf_vectorizer = TfidfVectorizer()
# tokenize and build vocabulary
tfidf_vectorizer.fit(text_documents)

# convert text data to numeric vectors
matrix = tfidf_vectorizer.transform(text_documents)

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=tfidf_vectorizer.get_feature_names())

       best      food      good  ...     this      very     world
0  0.000000  0.410747  0.410747  ...  0.00000  0.410747  0.000000
1  0.311166  0.000000  0.000000  ...  0.00000  0.000000  0.409146
2  0.358291  0.000000  0.000000  ...  0.47111  0.000000  0.000000

[3 rows x 15 columns]

Let's generate vectors sing only 2-grams and without stop words.

In [17]:
# create an instance of the TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words=stopwords, ngram_range=(2,2))

# tokenize and build vocabulary
tfidf_vectorizer.fit(text_documents)

# convert text data to numeric vectors
matrix = tfidf_vectorizer.transform(text_documents)

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=tfidf_vectorizer.get_feature_names())

   best hot  best instant  ...  quality food  sauce world
0   0.00000      0.000000  ...      0.707107      0.00000
1   0.57735      0.000000  ...      0.000000      0.57735
2   0.00000      0.707107  ...      0.000000      0.00000

[3 rows x 7 columns]