<a href="https://colab.research.google.com/github/HHansi/Applied-AI-Course/blob/main/NLP/Text_Feature_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text Feature Extraction

This notebook contains the practical examples and exercises for the Applied AI-Natural Language Processing.

*Created by Hansi Hettiarachchi*

Importing libraries

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd

import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

## Bag-of-Words(BoW) Model

We cannot directly work with text when using machine learning algorithms. Text need to be converted into numbers.

Bag-of-words model(BoW) is a simple and effective way to convert text features into numeric features, to use with machine learning models.

Let's define some sample texts to use with following examples. <br>
Here I picked some food reviews

In [2]:
text_documents = ["good quality food",
                  "not as advertised",
                  "great taffy"]

The simplest BoW model using CountVectorizer.

In [4]:
count_vectorizer = CountVectorizer()
# learn a vocabulary dictionary of all tokens in the text_documents
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}\n')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}\n')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'as', 'food', 'good', 'great', 'not', 'quality', 'taffy']

Result matrix size: (3, 8)
Result matrix:
 [[0 0 1 1 0 0 1 0]
 [1 1 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 1]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   advertised  as  food  good  great  not  quality  taffy
0           0   0     1     1      0    0        1      0
1           1   1     0     0      0    1        0      0
2           0   0     0     0      1    0        0      1

<b> <u>Understanding CountVectoizer arguments</u> </b>
- lowercase (boolean, default=True) - If True, convert all characters to lowercase before tokenizing.
- token_pattern (string,default=r"(?u)\b\w\w+\b") - Regular expression denoting what constitutes a “token”. The default regexp select tokens of 2 or more alphanumeric characters (punctuation is completely ignored and always treated as a token separator).
-  stop_words (list, default=None) - If a list, that list is assumed to contain stop words, all of which will be removed from the resulting tokens.
- ngram_range (tuple, default=(1, 1)) - The lower and upper boundary of the range of n-values for different word n-grams.

Please refer the [CountVectoizer document](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) for more details.

<b>Defining stop words to be removed</b> <br>
Let's use the stop words list available with NLTK.

In [5]:
stopwords = set(stopwords.words('english')) 
print(stopwords)

{'hadn', 'his', 'other', "don't", 'haven', 'few', "wouldn't", 're', 'again', 'you', 'was', 'so', "shan't", 'both', 'any', 'needn', 'wasn', 'up', 'out', 'too', 'isn', 'mustn', 'were', 'no', 'once', "aren't", 'with', 'or', "weren't", 'hasn', 'shan', 'by', 'did', "you're", 'i', 'myself', 'some', 'll', 'only', 'just', 'until', 'do', 'those', 'then', 'doing', "shouldn't", 'herself', 'not', 'over', "mustn't", 'wouldn', 'on', 'between', 'than', 'is', 'into', 'my', 'who', 'her', 'such', "doesn't", 'why', "hasn't", 'will', "isn't", "she's", 'against', 'that', 'the', 'ain', 'should', 'yours', 'yourself', 'at', "hadn't", 'whom', 'after', 'which', 'your', 'o', "didn't", 'all', 'aren', 'what', 'to', 've', 'themselves', 'we', 'nor', 'd', 'does', 'and', 'theirs', 'this', 'if', "you've", 'because', 'before', 'most', 'himself', 'more', 'about', 'hers', 'very', 's', "that'll", 'him', 'these', 'off', 'm', 'it', 'for', 'they', 'now', 'from', 'its', "haven't", 'ourselves', 'as', 'a', 'them', 'won', 'here', "mightn't", 'ma', 'of', 't', 'ours', 'there', "should've", 'above', "couldn't", 'in', 'each', 'can', 'yourselves', 'are', 'down', "won't", 'where', 'be', 'he', 'couldn', 'she', 'don', 'mightn', "you'll", 'didn', 'same', 'doesn', 'when', 'am', 'an', "wasn't", 'but', 'through', 'how', 'itself', 'own', 'below', 'having', 'further', 'weren', 'me', 'been', 'being', 'y', 'their', 'has', 'our', 'while', 'under', 'shouldn', 'have', "it's", 'during', "needn't", "you'd", 'had'}

In [6]:
count_vectorizer = CountVectorizer(stop_words=stopwords)
# learn a vocabulary dictionary of all tokens in the text_documents
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}\n')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}\n')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'great', 'quality', 'taffy']

Result matrix size: (3, 6)
Result matrix:
 [[0 1 1 0 1 0]
 [1 0 0 0 0 0]
 [0 0 0 1 0 1]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   advertised  food  good  great  quality  taffy
0           0     1     1      0        1      0
1           1     0     0      0        0      0
2           0     0     0      1        0      1

For simplicity, let's define our own stopword list.

In [7]:
stopwords_new = ['as', 'few', 'on', 'such', 'here']

count_vectorizer = CountVectorizer(stop_words=stopwords_new)
# learn a vocabulary dictionary of all tokens in the text_documents
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}\n')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}\n')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'great', 'not', 'quality', 'taffy']

Result matrix size: (3, 7)
Result matrix:
 [[0 1 1 0 0 1 0]
 [1 0 0 0 1 0 0]
 [0 0 0 1 0 0 1]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   advertised  food  good  great  not  quality  taffy
0           0     1     1      0    0        1      0
1           1     0     0      0    1        0      0
2           0     0     0      1    0        0      1

<b>Use different n-grams</b> <br>
Examples - Defining lower and upper boundary
- (1, 1) - 1-grams
- (1, 2) - 1-grams and 2-grams
- (2, 2) - 2-grams

In [8]:
count_vectorizer = CountVectorizer(ngram_range=(1,2))
# learn a vocabulary dictionary of all tokens in the text_documents
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}\n')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}\n')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'as', 'as advertised', 'food', 'good', 'good quality', 'great', 'great taffy', 'not', 'not as', 'quality', 'quality food', 'taffy']

Result matrix size: (3, 13)
Result matrix:
 [[0 0 0 1 1 1 0 0 0 0 1 1 0]
 [1 1 1 0 0 0 0 0 1 1 0 0 0]
 [0 0 0 0 0 0 1 1 0 0 0 0 1]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,advertised,as,as advertised,food,good,good quality,great,great taffy,not,not as,quality,quality food,taffy
0,0,0,0,1,1,1,0,0,0,0,1,1,0
1,1,1,1,0,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,1,1,0,0,0,0,1

n-grams with stop word removal:

In [9]:
count_vectorizer = CountVectorizer(ngram_range=(1,2), stop_words=stopwords_new)
# learn a vocabulary dictionary of all tokens in the text_documents
count_vectorizer.fit(text_documents)

print(f'Features: {count_vectorizer.get_feature_names()}\n')

# convert text data to numeric vectors
matrix = count_vectorizer.transform(text_documents)

# summarise vector details
print(f'Result matrix size: {matrix.shape}')
print(f'Result matrix:\n {matrix.toarray()}\n')

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=count_vectorizer.get_feature_names())

Features: ['advertised', 'food', 'good', 'good quality', 'great', 'great taffy', 'not', 'not advertised', 'quality', 'quality food', 'taffy']

Result matrix size: (3, 11)
Result matrix:
 [[0 1 1 1 0 0 0 0 1 1 0]
 [1 0 0 0 0 0 1 1 0 0 0]
 [0 0 0 0 1 1 0 0 0 0 1]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,advertised,food,good,good quality,great,great taffy,not,not advertised,quality,quality food,taffy
0,0,1,1,1,0,0,0,0,1,1,0
1,1,0,0,0,0,0,1,1,0,0,0
2,0,0,0,0,1,1,0,0,0,0,1

<b>Exercise 1.</b><br>
<b>a.</b> Generate a BoW model using <i>train_text_documents</i> given below. Convert 
all tokens to lowercase, remove stop words and use both 1-grams and 2-grams to build the model.  
<b>b.</b> Using the built model, convert <i>test_text_documents</i> into numeric vectors.

In [10]:
train_text_documents = ["The quick brown fox jumped over the lazy dog.",
                        "The cat played with the dog."]

test_text_documents = ["The dog saw the donkey."]

# create an instance of the CountVectorizer


# learn a vocabulary dictionary of all tokens in train_text_documents


# convert test_text_documents to numeric vectors


# print output vectors

## Token weighting with TfidfVectorizer

Let's define more detailed sample texts to use with following examples. <br>

In [11]:
text_documents = ["the quality of food is very good",
                  "the best hot sauce in the world",
                  "this is the best instant oatmeal"]

<b> <u>Understanding TfidfVectoizer arguments</u> </b>
- lowercase (boolean, default=True) - If True, convert all characters to lowercase before tokenizing.
- token_pattern (string,default=r"(?u)\b\w\w+\b") - Regular expression denoting what constitutes a “token”. The default regexp select tokens of 2 or more alphanumeric characters (punctuation is completely ignored and always treated as a token separator).
-  stop_words (list, default=None) - If a list, that list is assumed to contain stop words, all of which will be removed from the resulting tokens.
- ngram_range (tuple, default=(1, 1)) - The lower and upper boundary of the range of n-values for different word n-grams.

Please refer the [TfidfVectoizer document](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html?highlight=tfidfvectorizer#sklearn.feature_extraction.text.TfidfVectorizer) for more details.

In [12]:
tfidf_vectorizer = TfidfVectorizer()
# learn a vocabulary dictionary of all tokens in the text_documents
tfidf_vectorizer.fit(text_documents)

# convert text data to numeric vectors
matrix = tfidf_vectorizer.transform(text_documents)

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=tfidf_vectorizer.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,best,food,good,hot,in,instant,is,oatmeal,of,quality,sauce,the,this,very,world
0,0.000000,0.410747,0.410747,0.000000,0.000000,0.00000,0.312384,0.00000,0.410747,0.410747,0.000000,0.242594,0.00000,0.410747,0.000000
1,0.311166,0.000000,0.000000,0.409146,0.409146,0.00000,0.000000,0.00000,0.000000,0.000000,0.409146,0.483296,0.00000,0.000000,0.409146
2,0.358291,0.000000,0.000000,0.000000,0.000000,0.47111,0.358291,0.47111,0.000000,0.000000,0.000000,0.278245,0.47111,0.000000,0.000000

Let's generate vectors using only 2-grams and without stop words.

In [13]:
# learn a vocabulary dictionary of all tokens in the text_documents
tfidf_vectorizer = TfidfVectorizer(stop_words=stopwords, ngram_range=(2,2))

# tokenize and build vocabulary
tfidf_vectorizer.fit(text_documents)

# convert text data to numeric vectors
matrix = tfidf_vectorizer.transform(text_documents)

# for visualisation purpose, let's convert the features into a dataframe
pd.DataFrame(matrix.toarray(), columns=tfidf_vectorizer.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,best hot,best instant,food good,hot sauce,instant oatmeal,quality food,sauce world
0,0.00000,0.000000,0.707107,0.00000,0.000000,0.707107,0.00000
1,0.57735,0.000000,0.000000,0.57735,0.000000,0.000000,0.57735
2,0.00000,0.707107,0.000000,0.00000,0.707107,0.000000,0.00000